<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">ورود به فروشگاه کتاب</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="{{ form.username.id_for_label }}" class="form-label">نام کاربری</label>
                                {{form.username}}
                                {% if form.username.errors %}
                                <div class="text-danger">{{ form.username.errors}}</div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                <label for="{{ form.password.id_for_label }}" class="form-label">رمز عبور</label>
                                {{form.password}}
                                {% if form.password.errors %}
                                    <div class="text-danger">{{ form.password.errors }}</div>
                                {% endif %}
                            </div>
                            {% if form.non_field_errors %}
                                <div class="text-danger mb-3">{{ form.non_field_errors }}</div>
                            {% endif %}
                            <div class="text-center">
                                <button type="submit" class="btn btn-success">ورود</button>
                                <a href="{% url 'book_list' %}" class="btn btn-outline-primary">بازگشت به فروشگاه</a>
                            </div>
                        </form>
                        <p class="text-center mt-3">حساب کاربری ندارید؟ <a href="{% url 'signup' %}">ثبت‌نام کنید</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>