<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تنظیم رمز جدید</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">تنظیم رمز عبور جدید</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="{{ form.new_password1.id_for_label }}" class="form-label">رمز عبور جدید</label>
                                {{form.new_password1}}
                                {% if from.new.password1.errors %}
                                <div class="text-danger">{{ form.new_password1.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                <label for="{{ form.new_password2.id_for_label }}" class="form-label">رمز عبور جدید</label>
                                {{form.new_password2}}
                                {% if from.new.password2.errors %}
                                <div class="text-danger">{{ form.new_password2.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">تغییر رمز</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>